{% extends 'base.html' %}

{% block body %}
<link href="{{ url_for('static', filename='css/profile.css') }}" rel="stylesheet">

<div class="box">
    {% if show_upload_btn %}
    {% if request.authenticated %}
    {% if request.user.is_blocked() %}
    <a href="/login" class="btn btn-lg btn-block" style="margin-bottom:20px">شما مسدود شدید و نمیتوانید ویدیو آپلود کنید</a>
    {% else %}
    <a href="/videos/upload" class="btn btn-lg btn-block" style="margin-bottom:20px">آپلود ویدیو جدید</a>
    {% endif %}
    {% else %}
    <a href="/login" class="btn btn-lg btn-block" style="margin-bottom:20px">به عنوان کاربر وارد شوید تا بتوانید ویدیو آپلود کنید</a>
    {% endif %}
    {% else %}
    <a href="/login" class="btn btn-lg btn-block" style="margin-bottom:20px">به عنوان کاربر وارد شوید تا بتوانید ویدیو آپلود کنید</a>
    {% endif %}
    <ul class="directory-list">
        <li class="folder"> همه فیلم ها
            <div style="margin-bottom: 20px"></div>
            <ul>
                {% for c in videos %}
                <a style="padding:10px;font-weight:normal" href="/videos/s/{{c._id}}">
                    <img src="{{ url_for('static', filename='uploaded_videos') }}/{{c.owner._id}}/{{ c.thumbnail_name }}"
                         width="200" height="200"></img>
                    {{c.title}}
                </a>
                <br>
                {% endfor %}
            </ul>
        </li>
    </ul>
</div>
{% endblock %}