<!DOCTYPE html>
<html dir="rtl" lang="fa">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Network Project</title>

    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>

    <link href="{{ url_for('static', filename='css/ie10.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/signin.css') }}" rel="stylesheet">
</head>

<body>

<nav dir="rtl"
     style="box-shadow: 0px 3px 13px -1px rgba(0,0,0,0.75); "
     class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" role="navigation">
    <!--style="background-color:#d1d1d1"-->
    <a class="navbar-brand" href="/">
        پروژه شبکه
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div id="loader"></div>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                {% if authenticated %}
                <a class="nav-link active" href="/logout">
                    خروج
                </a>
                {% else %}
                <a class="nav-link active" href="/login">
                    ورود
                </a>
                {% endif %}
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link active" href="/tickets/new">
                    تیکت جدید
                </a>
            </li>
        </ul>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                {% if user %}
                <a class="nav-link active" href="/videos/list">
                    {{ user.first_name }} {{ user.last_name }}
                </a>
                {% endif %}
            </li>
        </ul>
    </div>
</nav>

<div class="container">

    {% block body %}{% endblock %}

    <footer>
        <div class="row">
            <div class="col-lg-12 text-center">
                <p>Copyright &copy; 2022</p>
            </div>
        </div>
    </footer>
</div>
<script src="{{ url_for('static', filename='js/apis.js') }}"></script>
</body>
</html>
