{% extends 'base.html' %}

{% block body %}
<link href="{{ url_for('static', filename='css/profile.css') }}" rel="stylesheet">
<div class="box">
<div style="margin-bottom: 20px"></div>

{% if assigned_page==False %}
    <a href="/tickets/new">تیکت جدید</a>
    {% else %}
    <a href="/tickets/get_ticket">دریافت تیکت</a>
    {% endif %}
<table style="width:100%">
    <tr>
        <th>شماره</th>
        <th>وضعیت</th>
        <th>پیام</th>
    </tr>
    {% for t in tickets %}

    <tr>
        <td><a href="/tickets/{{t._id}}">{{loop.index}}</a></td>
        <td>{{t.state}}</td>
        <td>{{t.messages[0]}}</td>
    </tr>

    {% endfor %}
</table>

</div>
{% endblock %}