{% extends 'base.html' %}

{% block body %}

<h1>{{ video.title }}</h1>
{% for tag in video.tags %}
<div style="padding:10px;background-color:#f66;border-radius:30px;font-size:13px;display: inline-block">
{{tag}}
</div>
<br>
{% endfor %}
<video id="player" playsinline controls width="800" height="500"
       data-poster="{{ url_for('static', filename='uploaded_videos') }}/{{video.owner._id}}/{{ video.thumbnail_name }}"
       src="{{ url_for('static', filename='uploaded_videos') }}/{{video.owner._id}}/{{ video.filename }}">
</video>

<br>

<br>
{% if request.authenticated %}
{% if user_id in video.likes %}
<img width="40" height="40" id="like_video" src="{{ url_for('static', filename='images/like.png') }}">
{{ (video.likes |count) - (video.dislikes |count) }}
<img width="40" height="40" src="{{ url_for('static', filename='images/dislike_out.png') }}">
{% elif user_id in video.dislikes %}
<img width="40" height="40" src="{{ url_for('static', filename='images/like_out.png') }}">
{{ (video.likes |count) - (video.dislikes |count) }}
<img width="40" height="40" id="dislike_video" src="{{ url_for('static', filename='images/dislike.png') }}">
{% else %}
<img width="40" height="40" id="like_video" src="{{ url_for('static', filename='images/like_out.png') }}">
{{ (video.likes |count) - (video.dislikes |count) }}
<img width="40" height="40" id="dislike_video" src="{{ url_for('static', filename='images/dislike_out.png') }}">
{% endif %}


{% if request.is_staff %}
<br>
<button class="btn btn-sm" id="delete_video" type="button">حذف ویدیو</button>
<button class="btn btn-sm" id="sensitive_video" type="button">برچسب به عنوان خطرناک</button>
{% endif %}

<br>
<input id="video_id_input" type="hidden" value="{{video._id}}">
<div class="input-group">
    <textarea id="comment_message" placeholder="نظر بدهید" class="form-control" rows="1" cols="30" required></textarea>
    <button class="btn btn-lg" id="new_comment_button" type="button" style="font-size:15px">ارسال نظر</button>
</div>
{% else %}
{{ (video.likes |count) - (video.dislikes |count) }}
<img width="40" height="40" src="{{ url_for('static', filename='images/like.png') }}">
{% endif %}
<br>
<h3>
    نظرات:
</h3>
{% for c in video.comments %}
<div style="padding:10px;font-weight:normal">
    <div style="font-size:15px">{{c.author.firstname}} {{c.author.lastname}}</div>
    <div style="font-size:10px">{{c.content}}</div>
</div>
{% endfor %}

{% endblock %}