{% extends 'base.html' %}

{% block body %}
<h1>{{ video.title }}</h1>
<video src="{{ url_for('static', filename='uploaded_videos') }}/{{video.owner._id}}/{{ video.filename }}" width="600"
       height="400"></video>

{% if authenticated %}
<input id="video_id_input" type="hidden" value="{{video._id}}">
<div class="input-group">
    <textarea id="comment_message" placeholder="نظر بدهید" class="form-control" rows="1" cols="30" required></textarea>
    <button class="btn btn-lg" id="new_comment_button" type="button" style="font-size:15px">ارسال نظر</button>
</div>
{% endif %}
<br>
<h3>
    نظرات:
</h3>
{% for c in video.comments %}
<div style="padding:10px;font-weight:normal">
    <div style="font-size:15px">{{c.author.firstname}} {{c.author.lastname}}</div>
    <div style="font-size:10px">{{c.content}}</div>
</div>
{% endfor %}

{% endblock %}