{% extends 'base.html' %}

{% block body %}
<form>
    <h2>State: {{ticket.state}}</h2><br>
    {% for message in ticket.messages %}
        <h1>{{message}}</h1><br>
    {% endfor %}
    {% if ticket.state != "CLOSED" %}
        <textarea id="new_ticket_message" placeholder="input your message here" rows="4" cols="50">
        </textarea>
        <br>
        <button id="add_message_button" type="button">send</button>
        {% if ticket.assignee_user_id == user._id %}
            <select name="select_state" id="select_state">
                <option value="Waiting">Waiting</option>
                <option value="Closed">Closed</option>
                <option value="Solved">Solved</option>
            </select>
            <button id="change_state_button" type="button" onclick="change_state()">change</button>
<!--            <script>-->
<!--                function change_state() {-->
<!--                    var select = document.getElementById('select_state');-->
<!--                    var value = select.options[select.selectedIndex].value;-->
<!--                    $.post("/api/tickets/change_state", {ticket_id: {{ticket._id}}, new_state:value}, function (response) {-->
<!--                    handleResponse("/videos/list", response, function (r) {}, 'مشکلی در تغییر وضعیت به وجود آمد.')-->
<!--                    });-->
<!--                }-->
            </script>
        {% endif %}
    {% endif %}


</form>
{% endblock %}